<div id="new-post-modal">
  <h2>Something to say?</h2>
  <form class="post-form" method="POST" action="/home/posts/:id/edit/submit">
    <div class="new-post-card">
      <input
        class="text-input-posts"
        placeholder="Title"
        name="title"
        type="text"
        required
      />
      <textarea
        class="text-area-input"
        name="post"
        type="text"
        placeholder="What's up today?"
        required
      ></textarea>
      <button class="submit-post-btn">Submit</button>
    </div>
  </form>
</div>
