<div class="log-in-container">
  <div class="sign-in-modal">
    <h1 class="brand-font">Members Only</h1>
    <h1>Already a member?</h1>
    <form action="/users/log-in" method="POST">
      <div class="form-alignment">
        <input
          class="text-input"
          name="username"
          placeholder="Username"
          aria-label="username"
          type="text"
          required
        />
        <input
          class="text-input"
          name="password"
          type="password"
          aria-label="password"
          placeholder="Password"
          required
        />
        <button class="submit-button">Log In</button>
      </div>
    </form>
    <div class="create-acct-redirect-container">
      <h2>-OR-</h2>
      <a class="create-acct-redirect" href="/users/sign-up"
        ><button class="create-acct-btn">Create Account</button></a
      >
    </div>
  </div>
</div>
