<div>
  <h2>Something to say?</h2>
  <form method="POST" action="">
    <input placeholder="Title" name="title" type="text" required />
    <input name="post" type="text" placeholder="What\'s up today?" required />
    <button>Submit</button>
  </form>
</div>
