<h1>Join the Club? &#128526;</h1>
<form method="POST" action="">
  <label for="first-name">First Name</label>
  <input name="first-name" type="text" required />

  <label for="last-name">Last Name</label>
  <input name="last-name" type="text" required />

  <label for="username">Display Name</label>
  <input name="username" type="text" required />

  <label for="password">Password</label>
  <input name="password" type="password" required />

  <label for="confirm-password">Confirm Password</label>
  <input name="confirm-password" type="password" required />
  <button>Sign Up</button>
</form>
