<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="log-in-container">
      <div class="sign-up-modal">
        <h1 class="brand-font">Members Only</h1>
        <h1>Create an Account</h1>
        <form method="POST" action="">
          <div class="form-alignment">
            <input
              class="text-input"
              name="firstname"
              type="text"
              placeholder="First name"
              aria-label="first name"
              required
            />

            <input
              class="text-input"
              name="lastname"
              type="text"
              placeholder="Last name"
              aria-label="last name"
              required
            />

            <input
              class="text-input"
              name="username"
              type="text"
              placeholder="Username"
              aria-label="username"
              required
            />

            <input
              class="text-input"
              name="password"
              type="password"
              placeholder="Password"
              aria-label="password"
              required
            />

            <input
              class="text-input"
              name="confirmpassword"
              type="password"
              placeholder="Confirm password"
              aria-label="confirm-password"
              required
            />
            <button class="submit-button">Sign Up</button>
          </div>
        </form>
        <div>
          <p>Already have an account?</p>
          <a <% if (locals.currentUser) { %>
            href='/home' <% } else { %> href = '/' <% } %> >Log In</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
