<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if (locals.currentUser) { %>
    <p>Welcome <%= locals.currentUser.userName %></p>
    <%- include('./partials/full-view.ejs') %> <% } else { %><%-
    include('./partials/log-in.ejs') %><% } %>
  </body>
</html>
