/* Posts */
:root {
  --post-width: 25vw;
}
.message-board-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: #c1c1c1 1px 1px 10px;

  align-items: center;
}
.post-card,
#new-post-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: solid grey 1px;
  border-radius: 3px;
  margin: 25px;
  box-shadow: #c1c1c1 1px 1px 10px;
  padding: 15px;
  min-width: var(--post-width);
  max-width: 100vw;
}
#new-post-modal {
  display: none;
}
.post-form {
  width: 100%;
}
.posts-wrapper {
  display: flex;
  flex-direction: column-reverse;
}
.new-post-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.about-post-span {
  display: flex;
  flex-direction: column;
}
.text-input-posts {
  height: 30px;
  font-size: 1.25rem;
}
.text-area-input {
  height: 75px;
  resize: none;
}
.submit-post-btn {
  height: 30px;
  cursor: pointer;
}
.post-title {
}
.post-message {
}
.post-user {
}
.post-date {
}
