@font-face {
  font-family: 'ubuntu-mono';
  src: url('../fonts/Shadows_Into_Light/Ubuntu_Mono/UbuntuMono-Regular.ttf');
}
@font-face {
  font-family: 'major-mono';
  src: url('../fonts/Shadows_Into_Light/Major_Mono_Display/MajorMonoDisplay-Regular.ttf');
}
* {
  font-family: 'ubuntu-mono', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
